#wrapper {
	left: 50%; /* Отступ в процентах от левого края окна */
	height: 100px;
	width: 600px;
	position: absolute;
	margin-top: 100px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
	margin-left: -250px; 
	display: inline-block;
}

.info {
	width: 300px;
}

form {
	display: inline-block;
	width: 250px;
}

